.leaflet-container {
  margin: 20px auto;
  height: 420px;
  width: 95%;
  z-index: 0;
  border: 2px solid #333;
  overflow: hidden;
}

.geo-map{
  margin: 20px auto;
  height: 390px;
  width: 95%;
  z-index: 0;
  border: 2px solid #333;
  overflow: hidden;
}

iframe {
  display: block;
  width: 100%;
  border: 0;
}